<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="Images/programming-languages-set-icons-vector-17866155.jpg">
</head>
<body>
    <div class="cont">
        <h1>About Discuss Forum</h1>
        <p>The Coding Language discussion forum gives you the detailed description of various coding languages.
             And also,you can ask and discuss various questions and queries about a specific coding language.
             I request all the users not to do spamming in this forum.
        </p>
    </div>
</body>
</html>