<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{name}}</title>
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="Images/programming-languages-set-icons-vector-17866155.jpg">
</head>
<body>
   <div class="nav">
       <a href = "/verify1?name={{name}}"><b>Home</b></a>
       <a href = "/about"><b>About</b></a>
       <a href = "/logout"><b>Log Out</b></a>
       <img src = "Images/{{images}}">
   </div>
   <div class="main">
       <h1>Welcome {{name}}</h1>
       <h1>Just Click on any language box image below and you can see the detailed description of that coding language.</h1>
       <h1>You can comment and ask question also in Q&A Section.</h1>
   </div>
   <div class="box">
       <div class="subox">
           <a href="/code?lan=Java"><img src = "Images/Java.png"></a>
           <p>Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
       </div>
       <div class="subox">
           <a href="/code?lan=C"><img src = "Images/C.png"></a>
           <p>C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system.</p>
       </div>
       <div class="subox">
           <a href="/code?lan=Python"><img src = "Images/Python.png"></a>
           <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.</p>
       </div>
       <div class="subox">
           <a href="/code?lan=C Plus-Plus"><img src = "Images/C Plus-Plus.png"></a>
           <p>C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming language, or "C with Classes</p>
       </div>
       <div class="subox">
           <a href="/code?lan=Javascript"><img src = "Images/Javascript.png"></a>
           <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm.</p>
       </div>
       <div class="subox">
           <a href="/code?lan=CSS"><img src = "Images/CSS.png"></a>
           <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
       </div>
        <div class="subox">
           <a href="/code?lan=HTML"><img src = "Images/HTML.png"></a>
           <p>Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</p>
       </div>
        <div class="subox">
           <a href="/code?lan=PHP"><img src = "Images/PHP.png"></a>
           <p>PHP is a general-purpose scripting language that is especially suited to web development. It was originally created by Danish-Canadian programmer Rasmus Lerdorf in 1994; the PHP reference implementation is now produced by The PHP Group.</p>
       </div>
        <div class="subox">
           <a href="/code?lan=R"><img src = "Images/R.png"></a>
           <p>R is a programming language and free software environment for statistical computing and graphics supported by the R Foundation for Statistical Computing. The R language is widely used among statisticians and data miners for developing statistical software and data analysis.</p>
       </div>
    </div>
</body>
</html>

