@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body
{
    background: url("Images/bmsce-1170x560.jpg");
    background-size:112%;
}
.cont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background: rgba(255,255,255,0.5);
}
h1        
{
    font-family: 'The Girl Next Door';
    font-size: 300%;
}
p
{
    font-family: "Kaushan Script" ;
    font-size: 230%;
    color: navy;
}       